body {
  font-size: 12px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}

input[type="text"] {
  border: 1px solid #c0c0c0;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #666;
}

.main {
  width: 900px;
  margin: 100px auto;
}

.rounded-box {
  width: 400px;
  border: 1px solid #c0c0c0;
  background: #f0f0f0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}

#status {
  width: 90%;
  margin: 0px auto;
  border: 1px solid #d0d0d0;
  background: white;
  text-align: center;
  color: #666;
  font-size: 20px;
  min-height: 24px;
  padding: 2px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
